/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif; 
    background-color: rgb(255, 255, 0); /* Altera para amarelo */
}

/* Estilo para o topo da página */
#topo {
    position: fixed; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: white; 
    display: flex; 
    flex-direction: column; /* Empilha a informação e os botões */
    align-items: center; /* Centraliza horizontalmente */
}

/* Estilo para o objeto (triângulo) */
#objeto {
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent; /* Lado esquerdo do triângulo */
    border-right: 25px solid transparent; /* Lado direito do triângulo */
    border-bottom: 50px solid rgb(255, 0, 0); /* Base do triângulo em vermelho */
    position: absolute; 
    top: 100px; 
    left: 50%; /* Para centralizar o triângulo */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
}
